@model film_type

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>film_type</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.film_type_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.film_type_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.id_film_type}) |
    @Html.ActionLink("Back to List", "Index")
</p>